In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

In [2]:
# Load in csv's
mouse_metadata_df = pd.read_csv("Resources/Mouse_metadata.csv")
study_results_df = pd.read_csv("Resources/Study_results.csv")
#Show data fields for first data set and identify number of mice in the trial 
mouse_metadata_df.head()

  Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0     k403     Ramicane    Male          21          16
1     s185    Capomulin  Female           3          17
2     x401    Capomulin  Female          16          15
3     m601    Capomulin    Male          22          17
4     g791     Ramicane    Male          11          16

In [29]:
# Combine the data into a single dataset
# Merge data for the squamous cell carcinoma(SCC) study- joining on Mouse ID and create one single data set  

scc_clinical_trial_df = pd.merge(mouse_metadata_df,study_results_df, on="Mouse ID")

# Displace the data table for preview 
scc_clinical_trial_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [31]:
study_results_df.iloc[106:108]

    Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
106     m269          0                45.0                 0
107     g989          0                45.0                 0

In [30]:
scc_clinical_trial_df.iloc[106:108]

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
106,n364,Ramicane,Male,4,17,5,45.521875,0
107,n364,Ramicane,Male,4,17,10,40.375138,0

In [5]:
#confirm number of unique mice in the trial - check no duplicates in data set before adding study results timepoints and present in a table 
number_of_mice = scc_clinical_trial_df["Mouse ID"].nunique()

total_mice_df = pd.DataFrame({"Total Mice":[number_of_mice]})
total_mice_df

   Total Mice
0         249

In [13]:
study_results_df.loc[study_results_df.duplicated(subset=
['Mouse ID', 'Timepoint'])]

     Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
137      g989          0           45.000000                 0
360      g989          5           47.570392                 0
681      g989         10           49.880528                 0
869      g989         15           53.442020                 0
1111     g989         20           54.657650                 1

In [26]:
study_results_df.duplicated(subset=['Mouse ID', 'Timepoint'])

0       False
1       False
2       False
3       False
4       False
        ...
1888    False
1889    False
1890    False
1891    False
1892    False
Length: 1893, dtype: bool

In [27]:
scc_clinical_trial_df.iloc[106:]

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
106,n364,Ramicane,Male,4,17,5,45.521875,0
107,n364,Ramicane,Male,4,17,10,40.375138,0
108,n364,Ramicane,Male,4,17,15,36.940274,0
109,n364,Ramicane,Male,4,17,20,37.478868,0
110,n364,Ramicane,Male,4,17,25,33.205008,0
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [28]:
study_results_df.shape

(1893, 4)

In [25]:
indices = study_results_df['Mouse ID']=='g989'
study_results_df[indices]

    Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
106     m269          0                45.0                 0
107     g989          0                45.0                 0

In [33]:
duplicate_mouse_ids

array(['g989'], dtype=object)

In [ ]:
()

In [34]:
#Pandas
scc_clinical_trial_df['Timepoint'].unique()

array([ 0,  5, 10, 15, 20, 25, 30, 35, 40, 45])

In [ ]:
#Python
#List dictionaries variables condition for loop while
#

In [38]:
x = 45
x*2

90

In [41]:
45 *2

90

In [42]:
60  * 5

300

In [ ]:
#Syntax how  you create function in Python ?
# FUnction

In [56]:
def julia(x):
    print(f"Hello my name is {x}")

In [72]:
x = 78.20
print(f"Hello me  {x}")

Hello me  78.2

In [57]:
julia('Wang')

Hello my name is Wang

In [47]:
def multiplyany(x,y):
    x = x +2
    return x*y

In [48]:
multiplyany(10,6)

72

In [37]:
# Python 
#Classes

14

In [32]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
duplicate_mouse_ids = scc_clinical_trial_df.loc[scc_clinical_trial_df.duplicated(subset=
['Mouse ID', 'Timepoint']),'Mouse ID'].unique()
clean_scc_clinical_trial_df = scc_clinical_trial_df[scc_clinical_trial_df['Mouse ID'].isin(duplicate_mouse_ids)==False]
clean_scc_clinical_trial_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [31]:
#Removing the duplicates

SyntaxError: EOL while scanning string literal (580456016.py, line 2)

In [13]:
#Identify where the number of times where the same Mouse Id has the same Timepoint "duplicate rows"

duplicateRows = mouse_metadata_df[mouse_metadata_df.duplicated(['Mouse ID', 'Timepoint'])]

#duplicate_rows = study_results_df[study_results_df.duplicated("Mouse ID" & "Timepoint")]show_duplicates.value_counts()

KeyError: Index(['Timepoint'], dtype='object')

In [ ]:
#remove Duplicate rows where the

In [ ]:
# Merge data for the squamous cell carcinoma(SCC) study- joining on Mouse ID and create one single data set  

scc_clinical_trial_df = pd.merge(mouse_metadata_df,study_results_df, on="Mouse ID")
scc_clinical_trial_df

In [ ]:
# count the numbr of rows for each data point and data types`
scc_clinical_trial_df.count()

In [ ]:
Show num of duplicates

In [ ]:
# remove duplicates 
scc_clinical_trial_df = scc_clinical_trial_df[scc_clinical_trial_df.drop_duplicates(subset='Mouse ID' & 'Timepoint') keep='first')]                                
scc_clinical_trial_df

In [ ]:
#